<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.cochain.mapper.DemoProjectMapper" >
 	 <resultMap id="BaseResultMap" type="com.manage.cochain.entity.vo.DemoProjectVO" >
	      <id property="id" column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
	      <result property="projectName" column="project_name" jdbcType="VARCHAR" javaType="java.lang.String" />
	      <result property="projectValue" column="project_value" jdbcType="VARCHAR" javaType="java.lang.String" />
	      <result property="remark" column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
	      <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
  	</resultMap>

  	<sql id="Base_Column_List">
  		id,project_name,project_value,remark,create_time
  	</sql>

	<sql id="DemoProject_Query_Where">
	   and 1=1
	</sql>

  	<!--查询所有-->
  	<select id="getDemoProjectAllList" resultMap="BaseResultMap" parameterType="com.manage.cochain.entity.dto.DemoProjectDTO">
  		SELECT
			<include refid="Base_Column_List"></include>
		FROM
			demo_project
		<where>
			<include refid="DemoProject_Query_Where"/>
		</where>
		<if test="start !=null and end !=null" >
			LIMIT  #{start},#{end}
		</if>
  	</select>

	<!--统计数据-->
	<select id="findDemoProjectTotal" resultType="int" parameterType="com.manage.cochain.entity.dto.DemoProjectDTO">
		SELECT
			count(*)
		FROM
		demo_project
		<where>
			<include refid="DemoProject_Query_Where"/>
		</where>

	</select>

  	<!--查询单个-->
  	<select id="getDemoProjectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  		SELECT
			<include refid="Base_Column_List"></include>
		FROM
			demo_project
		WHERE
			id = #{id,jdbcType=INTEGER}
  	</select>

	<!--新增信息-->
	<insert id="saveDemoProject" flushCache="true" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.manage.cochain.entity.dto.DemoProjectDTO">
	    insert into demo_project (project_name,project_value,remark,create_time)
			values(#{projectName,jdbcType=VARCHAR},#{projectValue,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},now())
	</insert>

  	<!--修改信息-->
  	<update id="updateDemoProject" parameterType="com.manage.cochain.entity.dto.DemoProjectDTO" flushCache="true">
  		update demo_project 
  		<set>
			<if test="id!=null">id = #{id,jdbcType=INTEGER},</if>
			<if test="projectName!=null and projectName!=''">project_name = #{projectName,jdbcType=VARCHAR},</if>
			<if test="projectValue!=null and projectValue!=''">project_value = #{projectValue,jdbcType=VARCHAR},</if>
			<if test="remark!=null and remark!=''">remark = #{remark,jdbcType=VARCHAR},</if>
			<if test="createTime!=null">create_time = now(),</if>
  		</set>
  		where id = #{id ,jdbcType=INTEGER}
  	</update>

  	<!--根据id删除信息-->
  	<delete id="deleteDemoProjectById" flushCache="true">
  		delete from demo_project where id = #{id,jdbcType=INTEGER}
  	</delete>

	<!--查询所有-->
	<select id="getDemoProjectVOList" resultMap="BaseResultMap" parameterType="com.manage.cochain.entity.dto.DemoProjectDTO">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM
		demo_project
	</select>

 </mapper>	